[user]
	email = harogaston@gmail.com
	name = Gastón Haro
	signingkey = 52ED69C65BC593C4
[core]
	editor = vim
	quotepath = false
[commit]
	template = /home/gaston/.gittemplate
[merge]
	tool = meld
[credential]
	helper = cache --timeout=3600
[alias]
  sw = switch
  ch = checkout
  cc = commit
  ss = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
	default = simple
[pull]
	ff = only

